# PlatformIO specific files
/.pio
/.vscode
/.platformio

# VSCode files
.vscode/

# CLion files
.idea/
cmake-build-*/

# JetBrains project files
/.idea

# Other IDEs and editors
*.swp
*.swo
*.swn
*.bak
*.tmp
*.temp
*.DS_Store
Thumbs.db
*.log
*.md~

# MacOS specific files
.DS_Store

# Build files
*.elf
*.bin
*.hex
*.map
*.d
*.o

# Python specific
__pycache__/
*.py[cod]
*.so
.env
*.venv
pip-log.txt

# SCons specific
.sconsign.dblite

# Wifi Credentials
src/config.h

